<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <!-- <li><a href="index.html"><i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
    </li> -->

            <li class="<% if(page === 'dashboard'){ %>mm-active<% } %>">
                <a href="/" aria-expanded="false">
                    <i class="fa fa-tachometer"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>

            <li class="<% if(page === 'cases'){ %>mm-active<% } %>">
                <a href="/cases" aria-expanded="false">
                    <i class="fa fa-book"></i>
                    <span class="nav-text">Cases</span>
                </a>
            </li>

            <li class="<% if(page === 'report-case'){ %>mm-active<% } %>">
                <a href="/cases/report" aria-expanded="false">
                    <i class="fa fa-hand-pointer-o"></i>
                    <span class="nav-text">Report Case</span>
                </a>
            </li>

            <li class="<% if(page === 'category'){ %>mm-active<% } %>">
                <a href="/category" aria-expanded="false">
                    <i class="fa fa-list"></i>
                    <span class="nav-text">Authenticate Case</span>
                </a>
            </li>
        </ul>
    </div>
</div>